<p id="notice"><%= notice %></p>

<h1> Listing Shouts</h1>

<% @shouts.each do |shout| %>
    <div class="shout">
        <%= render "shout", shout: shout %>
    </div>
<% end %>

<br>

<%= link_to 'New Shout', new_user_shout_path %>









